

.newFill{


  /*
  width: 400px;
        max-width: 400px;
          */
          display: block !important;

          height: 100vh;
        object-fit: cover;
     width: 100%;
  background-color: #000000;
  


}

.fake{
    /*
  placeholder css to force the css to load through theme
          */
}

.mainDiv {
height:60vh;
}
  
  
  .capp{
  
    text-align: left !important;
    bottom: -1vh;
    left: 6%;


 

      }
  

.capp h1{

  font-family: "Bebas Neue"; 
  font-weight: 500;
  letter-spacing: 0.03cm;
  line-height: 0.75em;
display: swap;
font-size: 5.4em;
margin-bottom: -0.5rem;
}


.capp p{
  font-family: "Mukta";
display: swap;
line-height: 1.2em; 
font-size: 3.4vh;
margin-top:20px;
margin-top:15px;
}



  .preview {
   padding:0px !important ;
  background-color: black !important;
  height: 100vh;
   /*
      object-position: center center;
          justify-content: flex-start !important;
  
          #FF2483


      */
     
      width: 100%;
      
  }
   
  
  .preview4 {
    padding:0px !important ;
   background-color: black;
   
    /*
       object-position: center center;
           */
      
   
    width: 500px; 
   }

      .previewTitle {
        font-size: 1.1em;
        font-weight: 500;
        color:#212529;
        margin-bottom: 1px;
      }
      
      .hero {
          position: relative;
          background: #000;
          color: #fff;
          text-align: center;
        
        }
        
        
        
        .heroImage {
          /*
            Ensure golden ratio for the hero size while limiting it to some extend to
            the viewport width
          */
          height: 61.8vh;
          max-height: 400px;
        }
        
        
        .heroImageInstructor {
          /*
            Ensure golden ratio for the hero size while limiting it to some extend to
            the viewport width
        
            height: 61.8vh;
          max-height: 400px;
          
          */
          height: 80vh;
        
        }
        
        .heroDetails {
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0);
          font-size: 14px;
          padding: 0 0.5em;
        }
        
        @media(min-width: 400px) {
          .heroDetails {
            font-size: 16px;
          }
          .instructHero {
            position: relative;
            padding-top:0vmin;
            padding:0;
          }
          .heroImageInstructor {
            /*
              Ensure golden ratio for the hero size while limiting it to some extend to
              the viewport width
          
              height: 61.8vh;
            max-height: 400px;
            
            */
            height: 61.8vh;
            max-height: 350px;
          }



          .capp h1{

            font-family: "Bebas Neue"; 
            font-weight: 500;
            letter-spacing: 0.03cm;
            line-height: 0.75em;
          display: swap;
          font-size: 5em;
          
          }

          .capp p{
          line-height: 1.1em; 
          font-size: 3.8vh;
          }


        }
        
        @media(min-width: 600px) {
        
          .heroImageInstructor {
            /*
              Ensure golden ratio for the hero size while limiting it to some extend to
              the viewport width
          
              height: 61.8vh;
            max-height: 400px;
            
            */
            height: 80vh;
            max-height: 500px;
          
          }

          .capp{
  
            text-align: left !important;
            bottom: 1vh;
            left: 12%;




              }

              .capp h1{

                font-family: "Bebas Neue"; 
                font-weight: 500;
                letter-spacing: 0.03cm;
                line-height: 0.75em;
              display: swap;
              font-size: 6em;
              
              }

              .capp p{
                line-height: 1em; 
              }

        }
        
        @media(min-width: 1000px) {
          .heroDetails {
            font-size: 20px;
          }
          .instructHero {
            position: relative;
            padding-left:5vmin;
            padding-top:5vmin;
          
          }
          .heroImageInstructor {
            /*
              Ensure golden ratio for the hero size while limiting it to some extend to
              the viewport width
          
              height: 61.8vh;
            max-height: 400px;
            
            */
            height: 80vh;
            max-height: 700px;
        
          
          }


          .capp{
  
            text-align: left !important;
            bottom: 4vh;
            left: 10%;




              }

              .capp h1{

                font-family: "Bebas Neue"; 
                font-weight: 500;
                letter-spacing: 0.03cm;
                line-height: 0.75em;
              display: swap;
              font-size: 9em;
              
              }
              .capp p{
                line-height: 1.2em; 
                font-size: 3.8vh;
              }


        }
        
        .heroHeadline {
          margin: 0;
        }
        
        .heroTitle {
          margin: 0;
          font-size: 1.125em;
          font-weight: bold;
        }
        
        
        